@model EcommerceShop.Models.register;
<style>
    #page-header.about-header {
        background-image: url('@Url.Content("~/img/about/banner.png")');
    }

</style>
<section id="page-header" class="about-header">
    <h2>Login to Get Started</h2>
   
</section>
<br/>
@if (TempData["cart"] != null)
{
    <div class="alert alert-success alert-dismissible fade show container" role="alert">
        <strong>Error !</strong> @TempData["cart"]
       
    </div>
}

<section id="form-details" class="">
  
    <form asp-controller="registerlogin" asp-action="login" method="post">

     
        <span>LEAVE A MESSAGE</span>
        <h2>We love to hear from you</h2><br />

        <input type="email" asp-for="Email" placeholder="E-mail">
        <span class="text-danger mb-2" asp-validation-for="Email"></span>

        <input type="password" asp-for="Password" placeholder="Password">
        <span class="text-danger mb-2" asp-validation-for="Password"></span>




        <button type="submit" class="normal">Submit</button>
    </form>


</section>
